# Expo / React Native
node_modules/
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.pem

# Native
android/
ios/
.kotlin/

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# EAS
eas.json.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
